<hr>

<button class="btn btn-primary"
    (click)="setStart()">Start Game!</button>

<button class="btn btn-danger"
    (click)="restart()">Reset Game</button>

<hr>

<button class="btn btn-primary"
    [routerLink]="['/dashboard']">Back to Dashboard</button>

<hr>

<div *ngFor="let user of users">
    <p>{{user.id}} | {{user.p1}} | {{user.p2}} | {{user.time | date:'H:mm:ss'}}
    <button (click)="set(user)" class="btn btn-success">Set</button>    
    <button (click)="delete(user)" class="btn btn-warning">Delete</button></p>
</div>